body
{
    background: rgb(218, 141, 141);
    color: white;
}
.heading
{
    width: 80%;
    font-size: 22px;
}
.name,#objectname,#objectAccuracy
{
    color: rgb(255, 251, 0);
}
#camera
{
    width: 350px;
    height: 300px;
    border: 2px dashed black ;
}